.btn {
  &,
  &:link,
  &:visited {
    font-family: $font-display;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: none;
    transition: all .2s;
    cursor: pointer;
    width: 15rem;
    height: 4rem;
    align-self: center;
    font-size: 1.6rem;
    margin: 2rem;

    &:active {
      filter: brightness(0.9);
    }

  }

  &--grey {
    background-color: $color-grey;
    color: $color-off-white;

    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &--white {
    background-color: $color-off-white;
    color: $color-grey-dark;

    &:hover {
      background-color: $color-grey;
    }
  }
}




.btn-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50rem;
  border: 1px solid black;
  font-weight: bold;
  font-size: 2rem;
  transform: translate(0, 50%);
  cursor: pointer;

  &:hover {
    background-color: $color-grey;
  }
}