<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="../styling/main.css">
  <!--    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">-->
  <title>Dogubby chat</title>
</head>
<body>
<h1 class="heading-1">Welcome to Dogubby chat</h1>

<div class="content">
  <div class="messages"></div>
  <div class="scroll-end">
    <button class="btn-circle" id="scroll-bottom-btn">&#8615;</i></button>
  </div>
  <form class="form">
    <div class="input-container">
      <textarea class="form-input text-area" name="input-msg" id="input-msg" placeholder="Enter message here"></textarea>
    </div>
    <button class="btn btn--grey" id="send-msg-btn">Send message</button>
  </form>
  <a href="" id="leave-chat-btn">Leave chat</a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js" integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous"></script>
<script type="module" src="/javascript/index.js"></script>

</body>
</html>