<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
  <link rel="stylesheet" href="../styling/main.css">
  <!--    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">-->
  <title>Dogubby chat</title>
</head>
<body>
<h1 class="heading-1">Login</h1>

<div class="content content--login">
  <form class="form form--login">
    <div class="input-container">
      <label for="input-username" class="form-label">Enter username</label>
      <input type="text" class="form-input" name="input-username" id="input-username">
    <button class="btn btn--grey">Login</button>
    </div>
  </form>
</div>


<script type="module" src="/javascript/login.js"></script>

</body>
</html>